body{
    background-color: #222c38;
    .container-head{
        background-color: #2b3944;
        .button{
            background-color: #2b3944;
        }
    }
    .container-sekeer{
        .button-busqueda{
            background-color: #2b3944; 
        }
        select{
            background-color: #2b3944;
        }
        #input-princ{
            background-color: #2b3944;
        }
        #input-princ::placeholder{
            color: white;
        }
        select, option {
            color: white;
          }
    }
    .container-card{
        #card{
            background-color: #2b3944;
        }
    }
  }
.dark-mode{
    background-color: white;
    .container-head{
        h1{
            color: black !important;
        }
        background-color: #bbbbbb;
        .icon{
            color: black !important;
        }
        .button{
            background-color: #bbbbbb;
            color: black !important;
        }
    }
    .container-sekeer{
        .button-busqueda{
            background-color: #bbbbbb; 
        }
        select{
            background-color: #bbbbbb;
        }
        #input-princ{
            background-color: #bbbbbb;
        }
        #input-princ::placeholder{
            color: black;
        }
        select, option {
            color: black;
          }
    }
    .container-card{
        .text-nser{
            color: black !important;
        }
        #card{
            background-color: #bbbbbb;
            h4{
                color: black !important;
            }
            p{
                color: black !important;
            }
            
        }
    }
}

