body{
    background-color: #222c38;
    .container-head{
        background-color: #2b3944;
        .button{
            background-color: #2b3944;
        }
    }
    .container-sekeer{
        .button-busqueda{
            background-color: #2b3944; 
        }
        select{
            background-color: #2b3944;
        }
        #input-princ{
            background-color: #2b3944;
        }
        #input-princ::placeholder{
            color: white;
        }
        select, option {
            color: white;
          }
    }
    .container-card{
        #card{
            background-color: #2b3944;
        }
    }
  }
